<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
<body>
<h:form>
    <h:inputHidden value="#{carsEditController.find(param['id']).id}" />
    <h:inputText value="#{carsEditController.find(param['id']).model}">
        Model
    </h:inputText>
    <h:inputText value="#{carsEditController.find(param['id']).number}">
        Number
    </h:inputText>
    <h:inputText value="#{carsEditController.find(param['id']).year}">
        Year
    </h:inputText>
    <h:commandButton action="#{carsEditController.update}" type="submit" value="Save ss" />
</h:form>
</body>
</html>
