<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
<body>
<h:form>
    <h:inputText value="#{carsNewController.car.model}">
        Model
    </h:inputText>
    <h:inputText value="#{carsNewController.car.number}">
        Number
    </h:inputText>
    <h:inputText value="#{carsNewController.car.year}">
        Year
    </h:inputText>
    <h:commandButton type="submit" value="Save" action="#{carsNewController.create}" />
</h:form>
</body>
</html>
